<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize-login.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>



  <div class="navbar-fixed" id="bar">
    <nav class="white">
      <div class="navy7u676uh container">

      <a id="logo-container" href="file:///C:\Users\Monica\OneDrive\Downloads\parallax-template\parallax-template\index.html" class="brand-logo"> 

      pushme.me

      </a>


      <ul style="font-size: 30em;" class="right hide-on-lg-and-down" id="hek">
        <li ><a href="#how-it-works">How It Works</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Register</a></li>
        li><a href="#">Log In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    </nav>
  </div>



  <div class="container" id="about-us">
    <div class="section" >

      <div class="row">
        <div class="col s12 center" >
          <h3><i class="mdi-content-send grey-text"></i></h3>
 

    <div class="form">
      
      <ul class="tab-group">
        <li class="tab"><a href="file:///C:\Users\Monica\OneDrive\Downloads\parallax-template\parallax-template\index-signup.html" style="font-family:Roboto;">Sign Up</a></li>
        <li class="tab active"><a href="file:///C:\Users\Monica\OneDrive\Downloads\parallax-template\parallax-template\index-login.html" style="font-family:Roboto;">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h3>Join the Meme Family</h3>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          
         <div class="field-wrap">
           

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
   <span class="fa fa-facebook"></span> Sign in with Facebook
      </button>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
   <span class="fa fa-google-plus"></span> Sign in with Google+
      </button>
  
        

        </div>
          
          <button type="submit" style="font-family:Roboto;" class="button button-block"/>Get Started</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block"/>Log In</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
          



   </div>

</div>




      </div>

    </div>
  </div>






  <footer class="page-footer">
            
      <div class="footer-copyright">
               <div class="container">
                  © 2016 Copyright Information
                  <a class="grey-text text-lighten-4 right" href="#!">Terms and Conditions</a>
               </div>
          </div>         
       </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="script.js"></script>

  </body>
</html>
