<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="navbar-fixed" id="bar">
    <nav class="white">
      <div class="navy7u676uh container">

      <a id="logo-container" href="index.html" class="brand-logo"> 

      pushme.me

      </a>


      <ul style="font-size: 30em;" class="right hide-on-lg-and-down" id="hek">
        <li ><a href="#how-it-works">How It Works</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="index-login.html">Log In</a></li>
        <li><a href="index-signup.html">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index-signup.html">Register</a></li>
        li><a href="index-login.html">Log In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    </nav>
  </div>



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 style="text-shadow: 2px 2px 8px black;"class="header center cyan-text text-lighten-2"><br>Productivity Starts here</h1>
        <div class="row center">
          <h5 class="header col s12 light">Get stuff done. <br> The meme way.</h5>
        </div>
        <div class="row center">
           <a href="index-login.html" id="download-button" class="btn-large waves-effect waves-light cyan lighten-1">Log In</a> 
          <a href="index-signup.html" id="download-button" class="btn-large waves-effect waves-light cyan lighten-1">Register</a> <br>
        </div>
        <br><br> <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1" id="img1"></div>
  </div>


  <div class="container">
    <div class="section" id="how-it-works">
    <h4 class="center">How It Works</h4>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Keep Organized and Track Your Own Goals</h5>

            <p class="light"> Individual and group goals are set for a due date and can be broken down into smaller tasks to do each with their own due date. A progress bar at the top shows how far tasks and goals are coming along. PushMe.me keeps you on track for achieving both your group goals and your personal goals.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Achieve Goals With Friends</h5>

            <p class="light">By tracking individual progress and overall group progress, group members can keep each other accountable. If someone is not performing at their best, a meme of encouragement can be sent. If someone is performing well beyond expectations, a meme of celebration can be delivered. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Spread Memes of Encouragement</h5>

            <p class="light"> Encouragement on PushMe.me is supplied through the generation of memes and inspirational messages. Happy, funny memes of all sorts are sent when an individual/group is staying on task. Anonymous messages can also be sent individually to cheer on people with their productivity.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Get the most out of your time.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container" id="about-us">
    <div class="section" >

      <div class="row">
        <div class="col s12 center" >
          <h3><i class="mdi-content-send grey-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Don't let your goals or memes be dreams.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>




  <footer class="page-footer">
            
      <div class="footer-copyright">
               <div class="container">
                  © 2016 Copyright Information
                  <a class="grey-text text-lighten-4 right" href="#!">Terms and Conditions</a>
               </div>
          </div>         
       </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
